# Materials required for real-name verification

According to the regulations issued by the China Internet Network Information Center \(CNNIC\), all domain name holders must submit real, accurate, and complete information of registered domain names. Otherwise, the domain name will be canceled. Therefore, you must submit the required materials and pass the real-name verification after you register a .cn domain name. The verification process includes real-name verification of the registrant and a review of the naming of the domain name.

**Note:** The registrars at the Alibaba Cloud international site \(alibabacloud.com\) are registrars outside China. You cannot apply for an ICP filing for a domain name registered at the Alibaba Cloud international site \(alibabacloud.com\). If you want to deploy your services such as websites inmainland China, you must register your domain name and complete the ICP filing for your website at the Alibaba Cloud China site. Otherwise, your website may be inaccessible inmainland China.

## Individual registrants

The following table lists the materials required to complete real-name verification for individual registrants.

|Identity|Required material|
|--------|-----------------|
|Residents in mainland China|-   **Resident identity card**
-   Residents without a resident identity card must submit one of the following identity documents:
    -   A scanned copy of the original household registration record with seals affixed by the public security bureaus. The name of the registrant must be the same as the name on the household registration record.
    -   A scanned copy of the residency certificate of the domain name registrant. The residency certificate must be affixed with a seal by the public security bureaus.
    -   A scanned copy of the side that contains the profile picture and resident identity card number of the temporary resident identity card. |
|Residents outside mainland China|Valid identity documents such as the **passport**|

**Note:** When you enter the information about the preceding materials, make sure that the name of the registrant is the same as that on the identity document.

**Requirements for uploading files**

-   You can upload a scanned color copy or digital photo of the original identity document. JPG and BMP images are supported. The size of the image must be 55 KB to 1 MB.
-   You must submit a clear, unobstructed image that contains the entire identity document including the borders. Seals affixed by authorities must be in red, clear, and complete.
-   Do not modify the content of the identity document in any way. If the format of the image is not supported, **do not directly change the file name extension**. Instead, you can use an image editor to convert the image to the JPG or BMP format.
-   To facilitate the verification process, we recommend that you submit a scanned copy of your resident identity card.

**Note:** If submission fails after you have entered the information and uploaded the materials for real-name verification, see [Real-name verification failures and workarounds](/intl.en-US/Real-name authentication for domains/Real-name verification failures and workarounds.md) to troubleshoot the issue.

For more information about the real-name verification materials required for individual registrants, see [Examples of real-name verification information for individual registrants](/intl.en-US/Real-name authentication for domains/Real-name authentication examples/Examples of real-name verification information for individual registrants.md).

## Organization registrants

Organization registrants, that is, non-natural persons such as enterprises, foundations, and schools, which are based in mainland China, must submit a copy of one of the following certificates based on the type of the organization.

|Required material|Requirement|
|-----------------|-----------|
|Valid **business license**|Enter the 18-digit unified social credit code on your certificate.![](https://static-aliyun-doc.oss-accelerate.aliyuncs.com/assets/img/en-US/0618017951/p37821.png) |
|Valid **organization code certificate**|If the **organization code certificate** is valid but does not contain an 18-digit unified social credit code, enter the organization code.![](https://static-aliyun-doc.oss-accelerate.aliyuncs.com/assets/img/en-US/1618017951/p37823.png) |

Organization registrants, such as enterprises, foundations, and schools, which reside in outside mainland China must submit the required **permits for institutions outside mainland China**, such as certificates of incorporation.

**Note:**

-   Organizations from regions outside mainland China must submit a photo of a valid certificate that is issued by a verified authority. Screenshots of web pages cannot be used to verify the identity of the organization.
-   If the permit of institutions outside mainland China does not contain a certificate number, enter 0 in the **Certificate Number** field.

**Requirements for uploading files**

-   You can upload a scanned color copy or digital photo of the original certificate or a duplicate. Photos of the JPG and BMP formats are supported. The size of the photo must be 55 KB to 1 MB.
-   You must submit a clear, unobstructed image that contains the entire identity document including the borders. Seals affixed by authorities must be in red, clear, and complete.
-   Do not modify the content of the identity document in any way. If the format of the image is not supported, **do not directly change the file name extension**. Instead, you can use an image editor to convert the image to the JPG or BMP format.
-   If you use a newly issued certificate for real-name verification, the verification may fail. We recommend that you request real-name verification 10 calendar days after the certificate is issued.

**Note:** If submission fails after you have entered the information and uploaded the materials for real-name verification, see [Real-name verification failures and workarounds](/intl.en-US/Real-name authentication for domains/Real-name verification failures and workarounds.md) to troubleshoot the issue.

For more information about real-name verification materials required for organization registrants, see [Examples of real-name verification information for organization registrants](/intl.en-US/Real-name authentication for domains/Real-name authentication examples/Examples of real-name verification information for organization registrants.md).

